
  <div id="about" class="container">
    <h1 id="title" class='text-center main'>About Mwavuli</h1>
    <div class="container">
        <p>Mwavuli is positively disrupting the status quo: A parametric product built on a digital, decentralized platform eliminates the cost and the trust detractors. Distribution via mobile phones makes it accessible, and the capability to place a risk in real time on the global market allows investors to buy diversified bundles of risk that can produce a stable return as a portfolio: Even when the individual risks are subprime, volatile and locally correlated. Mwavuli will start with weather indexed crop insurance and then expand to livestock insurance as it has the potential of impacting more than 1 billion people from the emerging markets.</p>
    </div>
    <div class="card-group card-space">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/003-eyeglasses.png" alt="Card image cap" width="128" height="128">
      <div class="card-block">
        <h4 class="card-title">Vision</h4>
        <p class="card-text">Our vision is to be the default platform of parametric insurance worldwide, facilitating matchmaking in unprecedented scope, effectiveness and efficiency.</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../../assets/images/002-target.png" alt="Card image cap" width="128" height="128">
      <div class="card-block">
        <h4 class="card-title">Mission</h4>
        <p class="card-text">Disrupt the traditional insurance industry by matching investors with farmers to bring affordable parametric insurance to rural communities across the world.</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../../assets/images/001-leaves.png" alt="Card image cap" width="128" height="128">
      <div class="card-block">
        <h4 class="card-title">Values</h4>
        <p class="card-text">We strongly believe that empowerment is better than a handout for the underprivileged. Our core values include: Integrity, accountability, fairness, inclusion and diversity.</p>
      </div>
    </div>
    </div>
  </div>