<nav id="topNav" class="navbar navbar-toggleable-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            ☰
        </button>
        <a class="navbar-brand page-scroll" href="#"><img id='brand' src='../../../assets/images/logo-just-coin.png' class="img-fluid" alt="Responsive image"> Mwavuli</a>
        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" title="About us" href="#about">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" title="Welcome to Mwavuli" href="#two">Product</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" title="Who are we?" href="#team">Team</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
