<div id="two" class='text-center'>
  <h1>Our Vision</h1>
  <p class='lead'>We want to bring everything we know to the chain</p>
  <div class='bg-inverse'>
    <div class='container'>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lD9KAnkZUjU"></iframe>
    </div>
    </div>
  </div>
  <div class='container'>
  <div class='row'>
    <div class='col'>
      <div class="card">
      <img class="card-img-top" src="https://placeimg.com/400/180/tech" alt="Card image cap">
      <div class="card-block">
        <p class="card-text">Future of the industry</p>
      </div>
    </div>
    </div>
    <div class='col'>
      <div class="card">
      <img class="card-img-top" src="https://placeimg.com/400/180/tech" alt="Card image cap">
      <div class="card-block">
        <p class="card-text">What we want to do with everything</p>
      </div>
    </div>
  </div>
  </div>
  <div id='first' class='text-center'>
    <h1> First of its type</h1>
    <p class='lead'>it is a age of new things and new things we want to do</p>
  </div>
  <iframe id="googleForm" src="https://docs.google.com/a/mwavuli.com/forms/d/e/1FAIpQLSfLtGL4pKXI10jV13L5qLTR6En60-tG1cojxdsoqc_Nsl7ETA/viewform?embedded=true">Loading...</iframe>
</div>
