<div id='team'>
<h1 class='text-center main'>Team</h1>



  <div class="container">
    <div class="card-group card-space">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/001-robot.png" alt="Card image cap" width="128" height="128">
      <div class="card-block">
        <h4 class="card-title">Rui</h4>
        <p class="card-text">Chinese in Toronto: Graduated in Psychology and Actuarial Science, making sense of actuarial liability modelling during the day and learning about Machine learning and Blockchain at night. Started multiple successful money making ventures and businesses since high school.</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../../assets/images/002-superheroe-3.png" alt="Card image cap" width="128" height="128">
      <div class="card-block">
        <h4 class="card-title">Ben</h4>
        <p class="card-text">American in Seattle: over 20 years of experience delivering software solutions in the finance, telecom and education industries. Passionate about disruptive technologies and their potential to improve lives across the globe.</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../../assets/images/003-superheroe-2.png" alt="Card image cap" width="128" height="128">
      <div class="card-block">
        <h4 class="card-title">Damian</h4>
        <p class="card-text">German in New York: Natural Catastrophe Risk Manager, Weather Risk Expert, PhD in Economics on Public Private Partnerships to Manage Natural Hazard, more than 10 years in the P&C insurance focusing on Finance, Operations and Product Development.</p>
      </div>
    </div>

    </div>
  </div>

  
  <div class="container">
    <div class="card-group card-space">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/004-superheroe-1.png" alt="Card image cap" width="128" height="128">
      <div class="card-block">
        <h4 class="card-title">David</h4>
        <p class="card-text">Nigerian in Canadian: accomplished financial services professional with over 15 years experience, a Project Management Institute certified project, program, risk, agile and portfolio manager, holds an MBA with robust project strategy & delivery experience and good understanding of Africa markets.</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../../assets/images/005-superheroe.png" alt="Card image cap" width="128" height="128">
      <div class="card-block">
        <h4 class="card-title">Joe</h4>
        <p class="card-text">Chinese in Hong Kong: Started career as a financial news reporter. More than six years in the marketing and sales role of financial products, includes equities derivatives and ETFs. Currently running IT consultancy company.</p>
      </div>
    </div>

    </div>
  </div>

</div>
